body {
    font-family: Arial, sans-serif;
    font-size: 1.0em;
    color: black;
    width: 770px;
    margin: 0 auto;
}

/* Cabecera */
.header {
    height: 100px;
    background: url('https://github.com/Dpr13/Us-Acc-Pract1-deportes.html/blob/main/Pr3-CSS/cabecera.png?raw=true') no-repeat center center;
    background-size: cover;
    text-align: center;
    position: relative;
    opacity: 0.3;
}


/* Menú de navegación */
.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
    /*background-color: #dddddd;*/
}

.navbar li {
    padding: 0.3em;
    margin-bottom: 0.7em;
}

.navbar li:hover {
    background-color: #bbb;
}

/* Enlaces */
a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

a.class2 {
    color: green;
}

a.class2:hover {
    color: red;
}

a.class2:hover {
    color: blue;
}

/* Estructura de las secciones */
.container {
    display: flex;
    gap: 10px;
}
.main-content {
    flex: 2;
    border: 1px solid black;
    padding: 10px;
}
.sidebar-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.sidebar, .sidebar-content {
    width: 185px;
    border: 1px solid rgba(101, 19, 179, 0.548);
    padding: 10px;
}
.sidebar, .enlaces-importantes {
    width: 130px;
    border: 1px solid rgb(180, 39, 39);
    padding: 10px;
}
.footer {
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 10px;
    padding: 10px;
}

/* Estilo de los párrafos */
p {
    margin-top: 0.5em;
}
